{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Job Portal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'navbar.html' %}
<!-- Category Cards strats ---->
    <!-- row 1  card starts---->
<div class="container">
 <h2 style="text-align: center">Jobs In India</h2>
    <hr>
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center m-0"style="height: 7rem; width: 7rem">
                <div class="card-head">
            <div class="card-body">
                <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i><br>
                <a href="#">IT JOBS</a></div>
        </div></div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 7rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i><br>
            <a href="#">GOVT JOBS</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 7rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-university fa-3x" aria-hidden="true"></i><br>
            <a href="#">BANK JOBS</a></div>
        </div>
</div>
</div>
<!-- row 1  card ends---->

<!-- row 2  card starts---->
<div class="row mt-3">
    <div class="col-4 ">
            <div class="card text-center" style="height: 7rem; width: 7rem">
            <div class="card-body">
                <i class="fa fa-train fa-3x" aria-hidden="true"></i><br>
                <a href="railway-jobs"><p>RAILWAY JOBS</p></a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 7rem; width: 7rem">

        <div class="card-body">
            <i class="fa fa-tasks fa-3x" aria-hidden="true"></i><br>
            <a href="#">SSC JOBS</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 7rem; width: 7rem">
        <div class="card-body">
             <i class="fa fa-male fa-3x" aria-hidden="true"></i><br>
            <a href="#">WALKINS</a></div>
        </div>
</div>
</div>
<!-- row 2  card ends---->

<!-- row 3  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 7rem; width: 7rem">
            <div class="card-body">
                <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i><br>
                <a href="#"><p>OFF CAMPUS</p></a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 7rem; width: 7rem">
        <div class="card-body">
             <i class="fa fa-certificate fa-3x" aria-hidden="true"></i><br>
            <a href="#">INTERNSHIP</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 7rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-users fa-3x" aria-hidden="true"></i><br>
            <a href="#"><p>STARTUP JOBS</p></a></div>
        </div>
</div>
</div>
<!-- row 3  card ends---->
<!-- Category Cards ends ---->

<!---- Job By Qualification Starts ---->
<div class="container-fluid" id="job-qualification">
  <h2>Jobs By Qualification</h2>
    <hr>
<div class="row">
    <!--- It jobs Starts --->
    <div class="col">
        <table class="table table-bordered table-striped">
            <thead class="text-center">
            <th colspan="2">IT JOBS BY QUALIFICATION</th>
            </thead>
            <tbody>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; B.Tech</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; M.Tech</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; BE</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; ME</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; B.Sc</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; M.Sc</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; B.Com</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; M.Com</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; BCA</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; MCA</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; BBA</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; MBA</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
        <!--- It jobs Ends --->
</div>

    <!--- govt jobs Starts --->
<div class="row">
        <div class="col">
        <table class="table table-bordered table-striped">
            <thead class="text-center">
            <th colspan="2">GOVT JOBS BY QUALIFICATION</th>
            </thead>
            <tbody>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; 10th</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; ITI</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; 12th</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; MS/MD</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; Diploma</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; PG Diploma</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; Engineering</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; M.Tech</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; Graduation</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; Post Graduation</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; Nursing</i></a></td>
                <td><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true">&nbsp; &nbsp; MBBS</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <!--- govt jobs Ends --->
<!---- Job By Qualification Ends ---->

<!--- category cards starts ---->
    <h2 style="text-align: center">Popular Categories</h2>
    <hr>
    <!-- row 1  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 8rem; width: 7rem">
            <div class="card-body">
                  <i class="fa fa-clone fa-3x" aria-hidden="true"></i><br>
                <a href="#">PLACEMENT PAPERS</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i><br>
            <a href="#">SYLLABUS</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-question fa-3x" aria-hidden="true"></i><br>
            <a href="#">PREVIOUS PAPERS</a></div>
        </div>
</div>
</div>
<!-- row 1  card ends---->

<!-- row 2  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 8rem; width: 7rem">
            <div class="card-body">
                <i class="fa fa-address-card-o fa-3x" aria-hidden="true"></i><br>
                <a href="#">ADMIT CARD</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-spinner fa-3x" aria-hidden="true"></i><br>
            <a href="#">RESULTS</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-comments-o fa-3x" aria-hidden="true"></i><br>
            <a href="#">INTERVIEW QUESTIONS</a></div>
        </div>
</div>
</div>
<!-- row 2  card ends---->

<!-- row 3  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 8rem; width: 7rem">
            <div class="card-body">
                <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i><br>
                <a href="#">GK QUESTIONS</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-puzzle-piece fa-3x" aria-hidden="true"></i><br>
            <a href="#">APTITUDE QUESTIONS</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body">
            <i class="fa fa-folder fa-3x" aria-hidden="true"></i>
            <a href="#">TUTORIALS</a></div>
        </div>
</div>
</div>
<!-- row 3  card ends---->
<!-- row 4  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 8rem; width: 7rem">
            <div class="card-body">
                <i class="fa fa-tasks fa-3x" aria-hidden="true"></i>
                <a href="#">MOCK TESTS</a></div>
        </div>
</div>
</div>
<!-- row 4  card ends---->
<!-- Category Cards ends ---->

<!---- Job By Company Starts ---->
<div class="container-fluid" id="#">
  <h2>Jobs By Company</h2>
    <hr>
<div class="row">
    <!--- It jobs by company starts --->
    <div class="col">
        <table class="table table-bordered table-striped">
            <thead class="text-center">
            <th colspan="2">IT JOBS BY COMPANY</th>
            </thead>
            <tbody>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; TCS Careers</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; Google Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; Infosys Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; Cognizant Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; Wipro Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; Accenture Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; Capgemini Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; IBM Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; Tech Mahindra Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; HCL Jobs</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
        <!--- It jobs by compnay ends --->
</div>

    <!--- govt jobs by company Starts --->
<div class="row">
        <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead class="text-center">
            <th colspan="2">GOVT JOBS BY COMPANY</th>
            </thead>
            <tbody>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; AIIMS Recuriment</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; RBI Recuritment</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; DRDO Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; SAIL Recuritment</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; IOCL Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; ISRO Recuritment</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; PGCIL Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; ESIC Recuritment</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; SBI Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-building" aria-hidden="true">&nbsp; &nbsp; ONGC Recuritment</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <!--- govt jobs Ends --->
<!---- Job By Qualification Ends ---->

<!--- category cards starts ---->
    <h2 style="text-align: center">IT Jobs By Location</h2>
    <hr>
    <!-- row 1  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 8rem; width: 7rem">
            <div class="card-body"><a href="#">HYDERABAD</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body"><a href="#">BANGLORE</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body"><a href="#">CHENNAI</a></div>
        </div>
</div>
</div>
<!-- row 1  card ends---->

<!-- row 2  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 8rem; width: 7rem">
            <div class="card-body"><a href="#">MUMBAI</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body"><a href="#">DELHI</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body"><a href="#">PUNE</a></div>
        </div>
</div>
</div>
<!-- row 2  card ends---->

<!-- row 3  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 8rem; width: 7rem">
            <div class="card-body"><a href="#">NOIDA</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body"><a href="#">GURGAON</a></div>
        </div>
</div>
<div class="col-4">
        <div class="card text-center"style="height: 8rem; width: 7rem">
        <div class="card-body"><a href="#">KOLKATA</a></div>
        </div>
</div>
</div>
<!-- row 3  card ends---->
<!-- row 4  card starts---->
<div class="row mt-3">
    <div class="col-4">
            <div class="card text-center"style="height: 8rem; width: 7.5rem;font-size: 8px">
            <div class="card-body"><a href="#">AHMEDABAD</a></div>
        </div>
</div>
</div>
<!-- row 4  card ends---->
<!-- Category Cards ends ---->

   <!--- govt jobs by state Starts --->
    <h2>Government Jobs by Location</h2>
    <hr>
<div class="row">
        <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead class="text-center">
            <th colspan="2">State Government Jobs</th>
            </thead>
            <tbody>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; AP Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Mizoram Govt Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Arunachal Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Nagaland Govt Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Assam Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Odisha Govt Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Bihar Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Punjab Govt Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Goa Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Rajasthan Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Gujarat Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Sikkim Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Haryana Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; TN Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; HP Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Tripura Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; JK Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; UP Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Karnataka Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; WB Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Kerala Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Chhatisgarh Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; MP Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Uttrakhand Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Maharashtra Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Jharkhand Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Manipur Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Telangana Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Meghalaya Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Central Govt Jobs</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <!--- govt jobs by state Ends --->

   <!--- Public service commission jobs Starts --->
<div class="row">
        <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead class="text-center">
            <th colspan="2">Public service commission Jobs</th>
            </thead>
            <tbody>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; APPSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Meghalaya PSC Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Arunachal PSC Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Mizoram PSC Jobs</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Assam PSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; NPSC Recuritment</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Bihar PSC Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp;OPSC Recuritment</i></a></td>
            </tr>
            <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; CGPSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; PPSC Recuritment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; GOA PSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp;RPSC Recuritment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; GPSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp;SPSC Recuritment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; HPSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; TSPSC Recuritment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp;JKPSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp;UPPSC Recuritment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; KPSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; WBPSC Recuritment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Kerala PSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Uttarakhand PSC Recuritment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; MPSC Recuritment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; JPPSC Recuritment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Maharashtra Govt Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Jharkhand Govt Jobs</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; MPSC Recruitment</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; TPSC Recruitment</i></a></td>
            </tr>
             <tr>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; Manipur PSC Jobs</i></a></td>
                <td><a href="#"><i class="fa fa-map-marker" aria-hidden="true">&nbsp; &nbsp; UPSC Recruitment</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
  <!--- Public service commission jobs Ends --->
</body>
</html>